.bgimagecube {
    background-color: #908070;
    width: 1000px;
    height: 1000px;
    margin: 0;
    padding: 0;
    position: absolute;
    grid-template-rows: 20px calc(100% - 20px);
}
.window {
    background-color: #a0c0ff;
    background-image: repeating-linear-gradient(#90b0ff 5px, #c0c0ff 10px);
    opacity: 0.8;
    border-radius: 8px;
    position: absolute;
    resize: both;
    overflow: auto;
    display: grid;
    width: 700px;
    height: 500px;
    margin: 0;
    padding: 0;
    grid-template-rows: 20px calc(100% - 20px);
}
body {
    margin: 0px;
    height: 100svh;
    width: 100svw;
    overflow: hidden;
}
.main-bar {
    display: grid;
    background-image: repeating-linear-gradient(#6090ff 5px, #80a0ff 10px);
    grid-template-columns: calc(100% - 20px) 20px;
    margin: 0;
    padding: 0;
    cursor: grab;
}
.move-window {
    color: #ffffff;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    padding: 3px 7px;
    height: 14px;
}
.close-button {
    background-color: #ff0030;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    font-size: 11pt;
    display: grid;
    padding: 3px 5px;
    height: 14px;
}
.holo {
    padding: 8px;
}
p {
    margin-top: 0;
}
.slider {
    margin: 0;
    display: inline;
    text-align: center;
    position: relative;
    top: 4px;
    cursor: pointer;
}
span {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 11pt;
}
.messages {
    display: grid;
    grid-template-columns: 150px calc(100% - 150px)
}
.chats {
    display: grid;
    background-image: repeating-linear-gradient(#6090ff 5px, #80a0ff 10px);
    grid-template-rows: 60px 60px 60px;
}
.chat {
    display: grid;
    grid-template-columns: 50px 100px;
    background-color: #8090ff;
    border-width: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #a0c0ff;
    cursor: pointer;
}
.chat-profile-photo {
    margin: 15px 10px;
    border-radius: 100%;
}
.chat-name {
    margin-top: 20px;
    color: #ffffff;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}
#chat-display {
    display: grid;
    grid-template-rows: calc(100% - 30px) 30px;
}
#chat-bar {
    display: grid;
    background-image: repeating-linear-gradient(#6090ff 5px, #80a0ff 10px);
    grid-template-columns: calc(100% - 60px) 60px;
}
#chat-input, #notes-filename, #paint-filename {
    margin: 5px;
    background-color: #a0c0ff;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #808080;
}
#chat-send, #notes-save, #notes-reset, #paint-save, #paint-reset {
    margin: 5px;
    background-color: #a0c0ff;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #808080;
    color: #404040;
}
#chat-send:hover, #notes-save:hover, #notes-reset:hover, #paint-save:hover, #paint-reset:hover {
    background-color: #c0c0ff;
    cursor: pointer;
}
.chat-header {
    color: #ffffff;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: #90b0ff;
}
.msg1 {
    color: #ffffff;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    font-size: 11pt;
    width: fit-content;
    background-color: #6080ff;
    border-radius: 5px;
}
.msg2 {
    color: #ffffff;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    font-size: 11pt;
    width: fit-content;
    background-color: #90a0ff;
    border-radius: 5px;
}
#notes-display {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-width: 0;
    margin: 8px;
    padding: 0;
    display: grid;
    resize: none;
    background-color: #0000;
}
.notes-button-container, .paint-button-container {
    background-image: repeating-linear-gradient(#6090ff 5px, #80a0ff 10px);
}
.notes, .paint {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: calc(100% - 30px) 30px;
}
#paint-display {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-width: 0;
    border-radius: 8px;
    margin: 8px;
    padding: 0;
    display: grid;
    resize: none;
    background-color: #e0e0ff;
}
.move-button {
    position: absolute;
    width: 50px;
    background-color: #80808080;
    border-radius: 8px;
    text-align: center;
    text-wrap: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
    cursor: pointer;
}
.right {
    margin-left: calc(100% - 55px);
}
.left {
    margin-left: 5px;
}