#main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 8px;
}
input {
    width: 70%;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
}
body {
    margin: 0;
}
button {
    height: 22px;
    padding: 0 5px;
    margin: 0;
    border: 1px solid #000;
}